<div class="container">
  <div *ngIf="!test">   <!--директива, которая показывает блок, если выполняется условие -->
    <p>Тест не найден</p>
  </div>

<!-- Ввод имени -->
<div *ngIf="test && !testStarted" class="start-screen">
  <h2>{{test.title}}</h2>
  <p>{{test.description}}</p>
  
  <mat-form-field appearance="fill">  <!--Компонент для формы-->
    <mat-label>Ваше имя</mat-label>
    <input matInput [(ngModel)]="studentName" required>
  </mat-form-field>
  
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="startTest()">
      Начать тест
    </button>
  </div>
</div>

  <!-- Прохождение теста -->
  <div *ngIf="testStarted && !testCompleted && test" class="test-screen">
    <h3>Вопрос {{currentQuestionIndex + 1}} из {{test.questions.length}}</h3>
    <p>{{currentQuestion?.text}}</p>
    
    <mat-radio-group [(ngModel)]="answers[currentQuestionIndex]">
      <mat-radio-button *ngFor="let option of currentQuestion?.options; let i = index" 
                        [value]="i">
        {{option}}
      </mat-radio-button>
    </mat-radio-group>
    
    <div class="navigation">
      <button mat-raised-button color="primary" (click)="prevQuestion()" [disabled]="currentQuestionIndex === 0">
        Назад
      </button>
      <button *ngIf="test && currentQuestionIndex < test.questions.length - 1"
              mat-raised-button color="primary" (click)="nextQuestion()">
        Далее
      </button>
      <button *ngIf="test && currentQuestionIndex === test.questions.length - 1"
              mat-raised-button color="accent" (click)="submitTest()">
        Завершить тестирование
      </button>
    </div>
  </div>

  <!-- Результаты теста -->
  <div *ngIf="testCompleted && result" class="result-screen">
    <h2>Тест завершен</h2>
    <p>Твои баллы: {{result.score}} из {{getTotalPossibleScore()}}</p>
    
    <button mat-raised-button color="primary" (click)="toggleReview()">
      {{showReview ? 'Скрыть ответы' : 'Показать ответы'}}
    </button>
    
  <!-- Просмотр ответов -->
  <div *ngIf="showReview && test" class="review-container">
    <div *ngFor="let question of test.questions; let i = index" class="review-question">
      <h3>Вопрос {{i + 1}}: {{question.text}}</h3>
      
      <div *ngFor="let option of question.options; let j = index" 
           [class]="getOptionClass(i, j) + ' review-option'">
        <mat-icon *ngIf="answers[i] === j && j === question.correctAnswer">check_circle</mat-icon>
        <mat-icon *ngIf="answers[i] === j && j !== question.correctAnswer">cancel</mat-icon>
        {{option}}
      </div>
      
      <p *ngIf="answers[i] !== question.correctAnswer" class="correct-explanation">
        Правильный ответ: {{question.options[question.correctAnswer]}}
      </p>
    </div>
  </div>
</div>