<div class="container">
    <mat-toolbar color="primary" class="mat-elevation-z4">
      
      <a mat-button routerLink="/" class="app-title">Тестирование</a>
  
      <nav class="nav-menu">
        <a mat-button routerLink="/tests" routerLinkActive="active">Тесты</a>
      </nav>
  
      <!-- Меню авторизации -->
      <div class="auth-menu">
        <ng-container *ngIf="!(isAuthenticated$ | async)">
          <a mat-button routerLink="/login" routerLinkActive="active">Войти</a>
        </ng-container>
        
        <button mat-button 
                *ngIf="isAuthenticated$ | async"
                (click)="logout()">
          Выйти
        </button>
      </div>
    </mat-toolbar>
  
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>